.background-container{
    background-color: #13253b;
    width: 100vw;
    /*height: 175vh;*/
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-bottom: 7vh;
    min-height: calc(100vh - 250px);
}

.title-text{
    position: relative;
    margin-top: 0;
    padding-top: 10vh;
    padding-bottom: 7vh;
    width: 100%;
    font-family: Segoe UI;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.header-container{
    width: 100vw;
    height: 15vw;
}

.header-pic{
    width: 100%;
    height: 100%;
}

.profile-pic-container{
    position: absolute;
    top: 20vh;
    left: 15%;
    width: 17.5vw;
    border: 7px solid #FFF;
}

.profile-pic{
    width: 100%;
}

.profile-container{
    /*display: flex;*/
    /*position: absolute;*/
    overflow-x: hidden;
    left: 20%;
    margin: auto;
    padding: 0 !important;
    width: 70%;
}

.profile-top-container{
    position: relative;
    width: 100%;
    /*height: 20%;*/
    padding-left: 19vw;
}

.profile-info-container{
    display: flex;
    position: relative;
    width: 100%;
}

.profile-left-container{
    margin-top: 2%;
    margin-left: 1vw;
    position: relative;
    float: left;
    width: 60%;
}

.profile-right-container{
    position: relative;
    /*display: block;*/
    padding-left: 3vw;
    padding-right: 3vw;
    float: right;
    width: 40%;
}

.profile-right-top-container{
    position: relative;
    padding: 2vh 2vw;
    background-color: #e5e9f1;
}

.profile-right-top-left-container{
    position: relative;
    width: 20%;
    margin: 2vh 0.75vw 0.75vw;
    float: left;
}

.profile-right-top-right-container{
    position: relative;
    width: 80%;
    margin-top: 2vh;
    margin-left: 2vw;
    float: right;
}

.profile-education-container{
    position: relative;
    display: flex;
    width: 100%;
}

.profile-work-container{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 5vh;
}

.profile-contact-container{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 5vh;
}

.profile-edit-container{
    width: 100%;
    margin-top: 5vh;
}

.profile-right-middle-container{
}

.profile-right-bottom-container{
}

.divider{
    margin-top: 6vh;
    width: 100%;
    height: 5px;
    background-color: #f5f6f7;
}

.text{
    font-family: Segoe UI;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.about-me{
    margin-top: 4vh;
    padding: 5%;
    background-color: #e5e9f1;
    text-align: center;
}

.about-me-span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.edit-profile-text{
    position: relative;
    margin-top: 6vh;
    text-align: center;
}

.name-text{
    margin-top: 3vh;
    line-height: 1.19;
    font-weight: bold;
}

.header-text{
    /*margin-top: 5vh;*/
    line-height: 0.25;
    font-weight: bold;
}

.label-text{
    margin-top: 4vh;
    opacity: 0.5;
}

.change-picture-text{
    opacity: 0.5;
    line-height: 1.22;
    text-align: center;
}

.social-media-text{
    opacity: 0.5;
    margin-top: 1vh;
}

.profile-pic-text{
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

.input-profile{
    padding: 1.5%;
    width: 87%;
    margin-right: 13%;
}

.input-contact{
    padding: 1.5%;
    width: 80%;
    text-align:center;
}

.edit-action-buttons{
    text-align: center;
}

.save-button{
    position: absolute;
    bottom: 0;
    margin-bottom: 3.8vh;
    margin-left: -3.4vw;
    border-radius: 20px;
    /*border: none;*/
    /*outline: none;*/
    max-width: 70%;
    background-color: #33cc33;
    color: #ffffff;
}

.skills-bubble{
    display: inline-block;
    padding: 1%;
    margin: 1%;
    margin-top: 3vh;
    border-radius: 20px;
    background-color: #ffffff;
    border: 3px solid #33cc33;
}

.mentor-container{
    display: flex;
    padding-top: 2vh;
    width: 100%;
}

.mentor-container > div{
    text-align: center;
    width: 33%;
    flex: 1;
}

.mentor-profile-pic{
    zoom: 0.5;
    border-radius: 50%;
    max-width: 80%;
    /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);*/
}

.education-icon{
    zoom: 0.45;
}

.work-icon{
    zoom: 0.45;
}

.contact-icon{
    zoom: 0.45;
}
