/* This it the css file for the sign up page */

#signup-page-container{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #13253b;
    padding-top: 10%;
    padding-bottom: 10%;
}

#signup-form-container{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 2% 5%;
}

@media (max-width:700px) {

    #signup-form-container{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 2% 5%;
    }

}

.signup-page-font{
    color: #707070;
}

.text-field-style > input{
    padding: 2% 3%;
    width: 80%;
    margin: 1% 0;
}

#text-input-container{
    margin: 10% 0;
}

.submit-button-top-margin{
    margin-top: 8%;
}

.title-bottom-margin{
    margin-bottom: 4%;
}

.signup-button{
    background-color: #33CC33;
    border-color: #33CC33;
}

.signup-button:hover{
    background-color: #33CC33;
    border-color: #33CC33;
}

.signup-button.active.focus, signup-button.active:focus, signup-button.focus, signup-button:active.focus,
signup-button:active:focus, signup-button:focus {
    background-color: #33CC33;
    border-color: #33CC33;
    outline: None;
}

.signup-button-style{
    border-radius: 15px;
    padding: 2% 7%;
}
