.control-label{
    color:#3c3;
}

.form-subheader{
    margin-top: 10px;
    font-size: 18px;
}

.btn-default{
    background-color: #3c3; 
    color: #ffffff;
    border: none;
}

.form-new-user{
    margin-top: 10px;
    margin-bottom: 2px;
}

.login-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.reset-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.prefs-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.edit-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.list-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.list-border:hover{
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
}

body{
    background-color: #e9ebee;
}

a {
    color: #3c3;
}

.application-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
    padding-left: 50px;
}

.page-footer{
    background-color: #e9ebee;
    border-top: 1px solid #dbdee2;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-copyright{
    color: #555;
    padding-top: 20px;
}

.footer-link{
    margin-left: 3px;
    margin-right: 3px;
    color: #555;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

.a-profile:hover{
    color: #3c3;
    text-decoration: none;
}

.form-group{
    max-width: 400px;
}

.form-header{
    margin-top: 10px;
}

.mentor-h3{
    margin-top: 5px;
    margin-bottom: 5px; 
}