.control-label{
    color:#3c3;
}

.form-subheader{
    margin-top: 10px;
    font-size: 18px;
}

.btn-default{
    background-color: #3c3; 
    color: #ffffff;
    border: none;
}

.form-new-user{
    margin-top: 10px;
    margin-bottom: 2px;
}

.login-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.reset-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.prefs-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.edit-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.list-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.user-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.reset-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.list-border:hover{
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
}

body{
    background-color: #e9ebee;
}

a {
    color: #3c3;
}

.application-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
    padding-left: 50px;
}

.page-footer{
    color: white;
    background-color: #13253b;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: flow;
}

.footer_item{
    color: #ffffff;
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
}

.footer_item p, .footer_item a{
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: 0.5px;
    text-align: left;
    text-size-adjust: 100%;
    color: #ffffff;
}

.footer_item h2{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: 0.5px;
    text-align: left;
    text-size-adjust: 100%;
    color: #ffffff;
}

.mentor_intro_content{
    display: flex;
    justify-content: center;
    padding-top: 100px;  
    width: 100%;
}

.mentor_intro{
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;    
}

.mentor_intro h1{
    text-align: center;
    font-family: Segoe UI;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #707070;    
}

.mentor_intro h2{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #707070;    
}

.mentor_list_container{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
    width: 100%;
}


.mentor_rtable{
    flex-wrap: wrap;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    margin: 0px auto;      
}

.mentor_rtable th{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: #fbfbfc;
    font-family: Segoe UI;
    line-height: 1.21;    
}

.mentor_rtable th,
.mentor_rtable td{
    padding: 20px 20px;
    color: #707070;
    font-family: Segoe UI;    
}



.footer-copyright{
    color: #555;
    padding-top: 20px;
}

.footer-link{
    margin-left: 3px;
    margin-right: 3px;
    color: #555;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

.a-profile:hover{
    color: #3c3;
    text-decoration: none;
}

.form-group{
    max-width: 400px;
}

.form-header{
    margin-top: 10px;
}

.mentor-h3{
    margin-top: 5px;
    margin-bottom: 5px; 
}

.nav-link{
    border-bottom: 1px solid #e7e7e7;
}
.nav-link:hover{
    border-bottom: 1px solid #3c3;
}

.profile-header{
    background-color: #3c3;
    color: #ececec;
}

.profile-about{
    color: rgb(233, 233, 233);
    font-size: 17px;
}

.profile-h1{
    margin-bottom: 5px;
}