.control-label{
    color:#3c3;
}

.form-subheader{
    margin-top: 10px;
    font-size: 18px;
}

.btn-default{
    background-color: #3c3; 
    color: #ffffff;
    border: none;
}

.form-new-user{
    margin-top: 10px;
    margin-bottom: 2px;
}

.login-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.reset-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.prefs-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.edit-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.list-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.user-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.reset-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
}

.list-border:hover{
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);
}

html{
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

 
body{
    background-color: #ffffff;
}

a {
    color: #3c3;
}

.application-border{
    padding: 25px;
    border: 1px solid #dddfe2;
    background-color: #ffffff;
    padding-left: 50px;
}

.fillter_content{
    min-height: 100%;
}


.welcome_message{
    display: flex;
    justify-content: flex-start;
    background-color: #13253b;
    min-height: 400px;
    flex-direction: column;
    padding: 80px;
}

.welcome_content{ 
    max-width: 40%;  
    margin-top: 12px;
}

.mission_statement{
    background-color: #4cc56c;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;   
    padding: 80px; 
}

.mission_img{
    flex: 1;
    max-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.mission_info{
    margin: 0 40px;
    padding: 0 40px;
    flex: 1;  
    max-width: 20%;    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cohort_program{
    margin: auto;
    background-color: #ffffff;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    min-height: 400px;
    padding: 20px 0;
}

.cohort_step{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.cohort_info{
    flex: 3;
    margin: 0 30px;
}

.cohort_img{
    flex-shrink: 0;
    background-color: #33cc33;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    font-size: 124px;
    top: -20px;
    left: -20px;
}


.cohort_program h1{
    font-size: 34px;
    color: #707070;
    text-align: center;
}

.cohort_info h1{
    text-align: left;
}

.mission_info h1,
.welcome_message h1,
.cohort_step h1{
    font-size: 24px;
    font-family: Segoe UI;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #ffffff;
}

.mission_info h1{
    text-align: center;
}

.mission_info h2,
.welcome_content h2,
.cohort_step h2{
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}


.cohort_step h1,
.cohort_step h2{
    color: #707070;
}


.page-footer{
    color: white;
    background-color: #13253b;
    /*margin-top: 100px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    position: relative;
    /*position: absolute;*/
    /*bottom: -20%;*/
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /*margin-top: 300px;*/
    min-height: 250px;
}

/* Large */
@media all and (max-width: 800px){
    .page-footer{
        flex-flow: column wrap;
        flex: 1 100%;
    }

    .footer_item{
        max-width: 80%;
        padding: 0;
        margin: 0 40px;
    }

    .mission_statement{
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        flex: 1 100%;
        left: 0;
        right: 0;
        margin: 0 40px;
        padding: 0;
    }

    .mission_info{
        max-width: 70%;
        margin: 12px 0;
        padding: 0;
    }

    .mission_img{
        max-width: 70%;
        width: 300px;
        margin: 12px 0;
        padding: 0;
        background-color: #707070;
        max-height: 40%;
    }
}



.footer_item{
    color: #ffffff;
    max-width: 400px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer_item p, .footer_item a{
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: 0.5px;
    text-align: left;
    text-size-adjust: 100%;
    color: #ffffff;
}

.footer_item h2{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: 0.5px;
    text-align: left;
    text-size-adjust: 100%;
    color: #ffffff;
}

.mentor_intro_content{
    display: flex;
    padding: 20px; 
    max-width: 100%;
    justify-content: center;

}
.mentor_intro_content h1{
    text-align: center;
}

.mentor_intro{
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;    
}

.mentor_intro h1{
    text-align: center;
    font-family: Segoe UI;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #707070;    
}

.mentor_intro h2{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #707070;    
}

.main-dashboard{
    min-height: calc(100vh - 180px);
    margin-top: 30px;
    margin-bottom: 30px;
}

.mentor_list_container{
    display: flex;
    justify-content: center;
    margin: 60px 80px 60px 80px;
    max-width: 100%;
    overflow-x: auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


.mentor_rtable{
    flex-wrap: wrap;
    padding: 0;
    /*display: inline-block;*/
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    margin: 0px auto;      
}
.mentor_rtable tr:hover{
    background-color: #F0F0F4;
}

.mentor_rtable th{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: #fbfbfc;
    font-family: Segoe UI;
    line-height: 1.21;    
}

.mentor_rtable th,
.mentor_rtable td{
    padding: 20px 20px;
    color: #707070;
    font-family: Segoe UI;
    text-align: center;   
}

.mentor_rtable h3{
    font-size: 16px;
}

.mentor_rtable h4{
    font-size: 14px;
}

.temp_image{
    border-style: solid;
    border-width: 3px;
    border-color: red;
    width: 40%;
    margin: auto;
    margin-bottom: 14px;
    height: 180px;
    transition: 1s ease;
}

.shortlist_profile:hover{
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    transition: 1s ease;
}

.shortlist_container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: calc(100vh - 230px);
    justify-content: center;
    padding: 20px;
    margin: auto;
}

.shortlist_profile{
    display: flex;
    padding: 14px;
    flex-direction: column;
    flex: 1 0 28%;
    flex-grow: 1;
    margin: 24px;
    min-height: 180px;
    max-height: 460px;
    max-width: 28%;
    min-width: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    transition: 1s ease;
}


.shortlist_info{
    text-align: center;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #707070;  
    max-height: 84%; 
    align-items: center; 
    margin: 10px;
}

.shortlist_about{
    display: flex;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-height: 120px;
    justify-content: center;
    text-align: left;
    margin: 12px;
    font-size: 12px;
    padding-top: 12px;
    overflow-y: auto;
}

.footer_social{
    margin: 6px;
}

.footer-copyright{
    color: #555;
    padding-top: 20px;
}

.footer-link{
    margin-left: 3px;
    margin-right: 3px;
    color: #555;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

.a-profile:hover{
    color: #3c3;
    text-decoration: none;
}

.form-group{
    max-width: 400px;
}

.form-header{
    margin-top: 10px;
}

.mentor-h3{
    margin-top: 5px;
    margin-bottom: 5px; 
}

.nav-link{
    border-bottom: 1px solid #e7e7e7;
}
.nav-link:hover{
    border-bottom: 1px solid #3c3;
}

.profile-header{
    background-color: #3c3;
    color: #ececec;
}

.profile-about{
    color: rgb(233, 233, 233);
    font-size: 17px;
}

.profile-h1{
    margin-bottom: 5px;
}

.navbar-brand {
    padding: 0px; /* firefox bug fix */
    margin-right: 15px;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px; /* firefox bug fix */
    width: 55px;
    border-radius: 50%;
}

.body-content-container-white{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: white;
    padding-top: 7%;
    padding-bottom: 10%;
    min-height: calc(100vh - 250px);
}

.body-content-container-blue{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #13253b;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: -2%;
    min-height: calc(100vh - 250px);
}

.full-screen-alert{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #3c3;
    display: inline-block;
    color: white;
    text-align: center;
    margin-bottom: -0.3%;
}

.border-header-font{
    color: #707070;
}