{% extends "base.html" %}

{% block app_content %}
    <h1>Apply for a Mentor</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.company_name.label }}<br>
            {{ form.company_name(size=32) }}<br>
            {% for error in form.company_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contact_email.label }}<br>
            {{ form.contact_email(size=32) }}<br>
            {% for error in form.contact_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.founder_names.label }}<br>
            {{ form.founder_names(size=32) }}<br>
            {% for error in form.founder_names.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.industry.label }}<br>
            {{ form.industry(size=32) }}<br>
            {% for error in form.industry.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.team_skills.label }}<br>
            {{ form.team_skills(cols=50, rows=4) }}<br>
            {% for error in form.team_skills.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.help_needed.label }}<br>
            {{ form.help_needed(size=32) }}<br>
            {% for error in form.help_needed.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.interest.label }}<br>
            {{ form.interest(cols=50, rows=4) }}<br>
            {% for error in form.interest.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gain.label }}<br>
            {{ form.gain(cols=50, rows=4) }}<br>
            {% for error in form.gain.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.stage.label }}<br>
            {{ form.stage(size=32) }}<br>
            {% for error in form.stage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.relation.label }}<br>
            {{ form.relation(size=32) }}<br>
            {% for error in form.relation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.website.label }}<br>
            {{ form.website(size=32) }}<br>
            {% for error in form.website.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.business_docs.label }}<br>
            {{ form.business_docs(size=32) }}<br>
            {% for error in form.business_docs.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}