<html>
    <head>
      {% if title %}
      <title>{{ title }} - enLIGHT Mentorship Program</title>
      {% else %}
      <title>Welcome to enLIGHT's Mentorship Program</title>
      {% endif %}

      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div>enLIGHT Mentorship Program: 
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('index') }}">Dashboard</a>
            <a href="{{ url_for('user', id=current_user.id) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>