{% extends "base.html" %}

{% block app_content %}
    <div class="background-container">
        <h1 class="title-text">Company Profile</h1>
        <div class="user-border profile-container">
            <div class="profile-left-container">
                <img src="https://s3.ca-central-1.amazonaws.com/enlight-hub-profile-pictures/enLIGHT-Logo.png" class="profile-pic"/>
                <a href="{{ info.linkedin }}" target="_blank">
                    <p class="text link-text linkedin">LinkedIn</p>
                </a>
                <a href="{{ info.twitter }}" target="_blank">
                    <p class="text link-text">Twitter</p>
                </a>
                {% if user == current_user %}
                    <div class="edit-profile-text">
                        <a href="{{ url_for('edit_profile') }}">
                            <p class="text link-text">Edit profile</p>
                        </a>
                    </div>
{#                            <a href="{{ url_for('reset_pw') }}">#}
{#                                <p class="text link-text">Reset password</p>#}
{#                            </a>#}
                {% endif %}
            </div>
            <div class="profile-right-container">
                <div class="profile-right-top-container">
                        <h2 class="text name-text">{{info.company}}</h2>
                        <label class="text label-text">Founders</label>
                        <p class="text">{{info.founder}}</p>
                        <label class="text label-text">Industry</label>
                        <p class="text">{{info.industry}}</p>
                        <label class="text label-text">Email</label>
                        <p class="text">{{info.email}}</p>
                        <label class="text label-text">Help Required</label>
                        <p class="text">{{info.help_req}}</p>
                </div>
                <div class="divider"></div>
                <div class="profile-right-bottom-container">
                    <h2 class="text name-text">Mentor Preferences</h2>
                    <div class="mentor-container">
                        <div>
                            <img src="../static/test.png" class="mentor-profile-pic"/>
                            <h4 class="text profile-pic-text">{{ info.mentor1 }}</h4>
                        </div>
                        <div>
                            <img src="../static/test.png" class="mentor-profile-pic"/>
                            <h4 class="text profile-pic-text">{{ info.mentor2 }}</h4>
                        </div>
                        <div>
                            <img src="../static/test.png" class="mentor-profile-pic"/>
                            <h4 class="text profile-pic-text">{{ info.mentor3 }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            {% if user == current_user %}
                {% if mentees %}
                    <li><b>Mentees: </b>
                        {% for mentee in mentees %}
                            {{mentee.company}},
                        {% endfor %}
                    </li>
                {% endif %}
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}