{% extends "base.html" %}

{% block app_content %}
    <div class="background-container">
        <h1 class="title-text">Company Profile</h1>
        <div class="user-border profile-container">
            <div class="profile-left-container">
                <img src="https://s3.ca-central-1.amazonaws.com/enlight-hub-profile-pictures/enLIGHT-Logo.png" class="profile-pic"/>
                
                <!--Load edit profile, if user is a member of the company-->
                {% if user in members %}
                    <div class="edit-profile-text">
                        <a href="{{ url_for('edit_profile') }}">
                            <p class="text link-text">Edit company profile</p>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="profile-right-container">
                <div class="profile-right-top-container">
                        <h2 class="text name-text">{{company.company}}</h2>
                        <label class="text label-text">Founders</label>
                        <p class="text">
                            {% if members %}
                                {% for member in members %}
                                    <a href="{{ url_for('user', userId=member.email_hash) }}">{{member.first_name}} {{member.last_name}}</a><br>
                                {% endfor %}
                            {% endif %}
                        </p>
                        <label class="text label-text">Industry</label>
                        <p class="text">{{company.industry}}</p>
                        <label class="text label-text">Help Required</label>
                        <p class="text">{{company.help_req}}</p>
                </div>
                <div class="divider"></div>
                <div class="profile-right-bottom-container">
                    <h2 class="text name-text">Mentor Preferences</h2>
                    <div class="mentor-container">
                        <div>
                            <img src="../static/test.png" class="mentor-profile-pic"/>
                            <h4 class="text profile-pic-text">{{ company.mentor1 }}</h4>
                        </div>
                        <div>
                            <img src="../static/test.png" class="mentor-profile-pic"/>
                            <h4 class="text profile-pic-text">{{ company.mentor2 }}</h4>
                        </div>
                        <div>
                            <img src="../static/test.png" class="mentor-profile-pic"/>
                            <h4 class="text profile-pic-text">{{ company.mentor3 }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}