{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row background-container">
        <h1 class="title-text">My Profile</h1>
        <form action="" method="post">
        <div class="col-md-4 col-md-offset-4 edit-border profile-container">
            <div class="profile-left-container">
                <img src="../static/test.png" class="profile-pic"/>
                <a>
                    <p class="change-picture-text">Change picture</p>
                </a>
                {{ form.linked.label(class="text label-text") }}
                {{ form.linked(class="input-contact text") }}
                {{ form.twitter.label(class="text label-text") }}
                {{ form.twitter(class="input-contact text") }}
                <div class="mentee-edit-buttom">
                    {{ form.submit(class="save-button text save-button-text") }}
                </div>
            </div>
            <div class="profile-right-container">
                <div class="profile-right-top-container">
                    {% if current_user.is_mentor() %}
                        {{ form.first_name.label(class="text label-text") }}
                        {{ form.first_name(class="input-profile text") }}
                        {{ form.last_name.label(class="text label-text") }}
                        {{ form.last_name(class="input-profile text") }}
                        {{ form.email.label(class="text label-text") }}
                        {{ form.email(class="input-profile text") }}
                        {{ form.about_me.label(class="text label-text") }}
                        {{ form.about_me(class="input-profile text") }}
                        {{ form.avail.label(class="text label-text") }}
                        {{ form.avail(class="input-profile text") }}
                        {{ form.industry.label(class="text label-text") }}
                        {{ form.industry(class="input-profile text") }}
                        {{ form.company.label(class="text label-text") }}
                        {{ form.company(class="input-profile text") }}
                        {{ form.position.label(class="text label-text") }}
                        {{ form.position(class="input-profile text") }}
                    {% elif current_user.is_cohort() %}
                        {{ form.company_name.label(class="text label-text") }}
                        {{ form.company_name(class="input-profile text") }}
                        {{ form.email.label(class="text label-text") }}
                        {{ form.email(class="input-profile text") }}
                        {{ form.founder_names.label(class="text label-text") }}
                        {{ form.founder_names(class="input-profile text") }}
                        {{ form.industry.label(class="text label-text") }}
                        {{ form.industry(class="input-profile text") }}
                        {{ form.help_needed.label(class="text label-text") }}
                        {{ form.help_needed(class="input-profile text") }}
                    {% else %}
                        {{ form.company_name.label(class="text label-text") }}
                        {{ form.company_name(class="input-profile text") }}
                        {{ form.email.label(class="text label-text") }}
                        {{ form.email(class="input-profile text") }}
                        {{ form.founder_names.label(class="text label-text") }}
                        {{ form.founder_names(class="input-profile text") }}
                        {{ form.industry.label(class="text label-text") }}
                        {{ form.industry(class="input-profile text") }}
                        {{ form.help_needed.label(class="text label-text") }}
                        {{ form.help_needed(class="input-profile text") }}
                    {% endif %}
{#                    {{ wtf.quick_form(form)}}#}
                </div>
                <div class="divider"></div>
                <div class="profile-right-middle-container">
                    <h2 class="text name-text">Skillset</h2>
                    {% if current_user.is_mentor() %}
                        <div class="skills-bubble">
                            {{ form.skill.label }}
                        </div>
                        {{ form.skill(class="input-profile text") }}
                    {% elif current_user.is_cohort() %}
                        <div class="skills-bubble">
    {#                            {{ form.team_skills.dat/(class="text label-text") }}#}
                        </div>
                        {{ form.team_skills(class="input-profile text") }}
                    {% else %}
                        <div class="skills-bubble">
{#                            {{ form.team_skills.dat/(class="text label-text") }}#}
                        </div>
                        {{ form.team_skills(class="input-profile text") }}
                    {% endif %}
                </div>
                <div class="divider"></div>
                <div class="profile-right-bottom-container">
                    {% if current_user.is_mentor() %}
                        <h2 class="text name-text">Matched Mentees</h2>
                        <div class="mentor-container">
                            <div>
                                <img src="../static/test.png" class="mentor-profile-pic"/>
                                <label class="text profile-pic-text">Mentee1</label>
                            </div>
                            <div>
                                <img src="../static/test.png" class="mentor-profile-pic"/>
                                <label class="text profile-pic-text">Mentee2</label>
                            </div>
                            <div>
                                <img src="../static/test.png" class="mentor-profile-pic"/>
                                <label class="text profile-pic-text">Mentee3</label>
                            </div>
                        </div>
                    {% else %}
                        <h2 class="text name-text">Matched Mentors</h2>
                        <div class="mentor-container">
                            <div>
                                <img src="../static/test.png" class="mentor-profile-pic"/>
                                <label class="text profile-pic-text">Mentor1</label>
                            </div>
                            <div>
                                <img src="../static/test.png" class="mentor-profile-pic"/>
                                <label class="text profile-pic-text">Mentor2</label>
                            </div>
                            <div>
                                <img src="../static/test.png" class="mentor-profile-pic"/>
                                <label class="text profile-pic-text">Mentor3</label>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}