{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="background-container">
        <h1 class="title-text">My Profile</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="edit-border profile-container">
                <div class="profile-left-container">
                    <img src="https://s3.ca-central-1.amazonaws.com/enlight-hub-profile-pictures/mentor.jpg" class="profile-pic"/>

                    <a href="../static/components/edit_picture_modal.html" data-target="#myModal" data-toggle="modal">
                        <p><small class="text change-picture-text">Change picture</small></p>
                    </a>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade text-center">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                      </div>
                    </div>

                    {{ form.linkedin.label(class="text label-text") }} <br>
                    {{ form.linkedin(class="input-contact text") }} <br>
                    {{ form.twitter.label(class="text label-text") }} <br>
                    {{ form.twitter(class="input-contact text") }}

                    <div class="edit-action-buttons">
                        {{ form.submit(class="save-button") }}
                    </div>
                </div>
                <div class="profile-right-container">
                    <div class="profile-right-top-container">
                        {% if current_user.is_mentor() %}
                            {{ form.first_name.label(class="text label-text") }}
                            {{ form.first_name(class="input-profile text") }}
                            {{ form.last_name.label(class="text label-text") }}
                            {{ form.last_name(class="input-profile text") }}
                            {{ form.email.label(class="text label-text") }}
                            {{ form.email(class="input-profile text") }}
                            {{ form.about_me.label(class="text label-text") }}
                            {{ form.about_me(class="input-profile text") }}
                            {{ form.avail.label(class="text label-text") }}
                            {{ form.avail(class="input-profile text") }}
                            {{ form.industry.label(class="text label-text") }}
                            {{ form.industry(class="input-profile text") }}
                            {{ form.company.label(class="text label-text") }}
                            {{ form.company(class="input-profile text") }}
                            {{ form.position.label(class="text label-text") }}
                            {{ form.position(class="input-profile text") }}
                        {% elif current_user.is_company() %}
                            {{ form.company_name.label(class="text label-text") }}
                            {{ form.company_name(class="input-profile text") }}
                            {{ form.email.label(class="text label-text") }}
                            {{ form.email(class="input-profile text") }}
                            {{ form.founder_names.label(class="text label-text") }}
                            {{ form.founder_names(class="input-profile text") }}
                            {{ form.industry.label(class="text label-text") }}
                            {{ form.industry(class="input-profile text") }}
                            {{ form.help_needed.label(class="text label-text") }}
                            {{ form.help_needed(class="input-profile text") }}
                        {% else %}
                            {{ form.first_name.label(class="text label-text") }}
                            {{ form.first_name(class="input-profile text") }}
                            {{ form.last_name.label(class="text label-text") }}
                            {{ form.last_name(class="input-profile text") }}
                            {{ form.about.label(class="text label-text") }}
                            {{ form.about(class="input-profile text") }}
                            {{ form.company_name.label(class="text label-text") }}
                            {{ form.company_name(class="input-profile text") }}
                            {{ form.university.label(class="text label-text") }}
                            {{ form.university(class="input-profile text") }}
                            {{ form.major.label(class="text label-text") }}
                            {{ form.major(class="input-profile text") }}
                            {{ form.year.label(class="text label-text") }}
                            {{ form.year(class="input-profile text") }}
                            {{ form.industry.label(class="text label-text") }}
                            {{ form.industry(class="input-profile text") }}
                            {{ form.email.label(class="text label-text") }}
                            {{ form.email(class="input-profile text") }}
                        {% endif %}
    {#                    {{ wtf.quick_form(form)}}#}
                    </div>
                    <div class="divider"></div>
                    <div class="profile-right-middle-container">
                        <h2 class="text name-text">Skillset</h2>
{#                            <div class="skills-bubble">#}
{#                                {{ form.skill.label }}#}
{#                            </div>#}
                        {{ form.skill(class="input-profile text") }}
                    </div>
                    <div class="divider"></div>
                    <div class="profile-right-bottom-container">
                        {% if current_user.is_mentor() %}
                            <h2 class="text name-text">Matched Mentees</h2>
                            <div class="mentor-container">
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">Mentee1</h4>
                                </div>
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">Mentee2</h4>
                                </div>
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">Mentee3</h4>
                                </div>
                            </div>
                        {% else %}
                            <h2 class="text name-text">Matched Mentors</h2>
                            <div class="mentor-container">
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">Mentor1</h4>
                                </div>
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">Mentor2</h4>
                                </div>
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">Mentor3</h4>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}