{% extends "base.html" %}

{% block app_content %}
    <div class="background-container">
        <h1 class="title-text">Edit Profile Picture</h1>
        <div class="form-container">
            <div class="form-left-container">
                <img src="https://s3.ca-central-1.amazonaws.com/enlight-hub-profile-pictures/enLIGHT-Logo.png" class="edit-profile-pic"/>
            </div>
            <div class="form-right-container">
                <form action="{{ url_for('upload') }}" enctype="multipart/form-data" method="post">
                    <input class="file-select" type="file" name="myfile">
                    <input class="edit-profile-button" type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}