{% extends "base.html" %}

{% block app_content %}

    <div id="faq-container">

        <h1 align="center" style="margin-top:0; margin-bottom:3%">FAQ</h1>

        <div class="container">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                What is enLIGHT?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            We are a student-run nonprofit organization dedicated to youth innovation and entrepreneurship
                            education, empowerment and support.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Do I have to own a seed or pre-seed business in order to qualify for mentorship?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            All startups are welcome!
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How are the mentoring matches made?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Team enLIGHT will be working towards matching all startups with the best match with regards to your startup’s needs.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How will I be communicating/meeting with my mentor?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            That can be discussed with your mentor and is dependent on both parties’ availabilities.
                            You will be able to communicate with the both online as well as in person, if this is
                            their preference.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How can I be a successful entrepreneur?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            In order to be able to be a successful entrepreneur, you must ensure that you continue to persevere
                            and remain determined through both enjoyable as well as challenging moments whilst growing your business.
                            Being the founder of a small business can be a difficult responsibility, yet through investing countless
                            hours of hard work and energy, significant milestones can be met. Our team of amazing mentors will be able
                            to ensure that you do not feel discouraged throughout this process, as they have once been in your shoes themselves!
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How can I be a successful entrepreneur?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            In order to be able to be a successful entrepreneur, you must ensure that you continue to persevere
                            and remain determined through both enjoyable as well as challenging moments whilst growing your business.
                            Being the founder of a small business can be a difficult responsibility, yet through investing countless
                            hours of hard work and energy, significant milestones can be met. Our team of amazing mentors will be able
                            to ensure that you do not feel discouraged throughout this process, as they have once been in your shoes themselves!
                        </div>
                    </div>
                </div>

            </div><!-- panel-group -->


        </div><!-- container -->
    </div>

{% endblock %}