{% extends "base.html" %}

{% block app_content %}

    <div id="faq-container">

        <h1 align="center" style="margin-top:0; margin-bottom:3%">FAQ</h1>

        <div class="container">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How do I approach the idea of starting my own business?

                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            It’s important to ensure that you have the right goals. Ensure that you have done your research and are able to assess your market and its size as well as have identified a need to satisfy. It is much more crucial to aim to cater to the correct target market along with efficiently tackle the correct needs. 
                            A great business is one that is able to eliminate an issue within a specific target! 
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How can I finance my startup?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Begin your journey by budgeting. It would be best to ensure that you have an idea of what your fixed costs and variable costs will look like. By focusing on fixed costs, such as utilities and insurance, you will be able to plan where money must be allocated. 
                            Then through taking small steps, you can then begin considering methods such as crowdfunding, investors and get a microloan from the bank.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How can I apply for a loan
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Oftentimes, it is quite challenging to obtain a loan for a startup business. Yet it is not impossible. First, you must ensure that you’ve developed a business plan, in which you clearly outline your business’ objective and goals. Secondly, make sure that you have a clear idea of your financial status. 
                            Lastly, create a thorough presentation, including financial statements as well as any graphs that may aid the financial officer to get a better understanding of your business. These are the first steps you must take in order to be able to complete your loan application. For more information, click here to access an e-book with instructions on how you can get started!
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                What is a business plan and how  do I create one?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            A business plan is a detailed document, highlighting your business objectives, goals and approaches. 
                            You must also include information, charts and graphs about research you have done in relation to the target market you are catering to as well as the demand you are supplying to. 
                            It is also crucial to outline a realistic timeline of the milestones you aim to hit throughout your journey! 
                            For instructions on how to create a business plan, click here. 
                
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                How can I be a successful entrepreneur?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            In order to be able to be a successful entrepreneur, you must ensure that you continue to persevere
                            and remain determined through both enjoyable as well as challenging moments whilst growing your business.
                            Being the founder of a small business can be a difficult responsibility, yet through investing countless
                            hours of hard work and energy, significant milestones can be met. Our team of amazing mentors will be able
                            to ensure that you do not feel discouraged throughout this process, as they have once been in your shoes themselves!
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Why is competition in my field important?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            Having competitors allows for more innovation as well as an opportunity to learn more about what can be done in your field. 
                            Through learning more about your competition, you will be able to apply their strengths along with avoid making the same mistakes they may have made. 
                            Being able to research competitors, will be a learning opportunity and a chance to improve your startup in the long run.
                        </div>
                    </div>
                </div>

            </div><!-- panel-group -->


        </div><!-- container -->
    </div>

{% endblock %}