{% extends "base.html" %}

{% block app_content %}
    <div class="welcome_message">
        <h1>Welcome</h1>
        <div class="welcome_content">
            <h2>Welcome to the enLIGHT Mentorship Program website. By joining our community, your team will receive the opportunity to fuel your business by receiving valuable advice with regards to your startup. Our experienced mentors are looking forward to sharing their expertise to help your startups improve and succeed! </h2>
        </div>
    </div>

    <div class="mission_statement">
        <div class="mission_img">
            <img src="https://s3.ca-central-1.amazonaws.com/enlight-hub-profile-pictures/mentor.jpg" style="width: 100%; height: auto;"/>
        </div>
        <div class="mission_info">
            <h1>Mission</h1>
            <h2>We aim to shine a LIGHT on youth innovation and ENtrepreneurship; to help youth discover their potential, pursue their passions, and contribute to the economic and societal growth of Canada through innovative ideas and businesses.</h2>
            <h2>Our mentorship program will be the building blocks to guide student founders through connecting them with advisors with years of experience. Through working together, both the founders and the mentors will be able to benefit from their journey together! If you are willing to tackle challenges and overcome obstacles with the guidance of a mentor, sign up to be matched with an advisor today.</h2>
        </div>
    </div>

    <div class="cohort_program">
        <h1>Cohort Program</h1>
        <div class="cohort_step">
            <div class="cohort_img">1</div>
            <div class="cohort_info">
                <h1>Step 1</h1>
                <h2>Sign up for an account and begin building your profile. Provide information about your team, your business as well as your backgrounds.</h2>
            </div>
        </div>
        <div class="cohort_step">
            <div class="cohort_img">2</div>
            <div class="cohort_info">
                <h1>Step 2</h1>
                <h2>Provide us with information with regards to which aspects of your business you are looking to gain advice for. </h2>    
            </div>
        </div>
        <div class="cohort_step">
            <div class="cohort_img">3</div>
            <div class="cohort_info">
                <h1>Step 3</h1>
                <h2>Be patient while we work our magic! </h2>
            </div>
        </div>
    </div>
    <!--<p><a href="{{ url_for('application') }}">Apply NOW!!!</a></p>-->
{% endblock %}