{% extends "dashboard.html" %}
{% block dash_content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $(".expand-row").click(function () {
                $(this).next("tr").slideToggle(1000);
            });  
        });
    </script>
    <div class="body-content-container-white">
        <div class="mentor_intro_content">
            <div class="mentor_intro">
                <h1>Learn From the Best Mentors</h1>
                <h2>Our team aims to ensure that you gain the most beneficial experience throughout your journey with the
                    mentorship program. Team enLIGHT will be working towards matching all startups with the best match with
                    regards to your startup’s needs. You will be exposed to the best mentors, who aspire to empower you to
                    launch or grow your startup. They aspire to give back to the community of young entrepreneurs, sharing
                    their expertise and experiences with the new generation of young leaders, you! By providing support and
                    wise advice, our inspiring team of advisors will be able to lead you through your long and short term
                    goals. You will be able to meet with them both virtually as well as in person, depending on both parties’
                    availabilities.  Apply today to get valuable guidance! </h2>
            </div>
        </div>
      <div class="mentor_list_container">
          <table width="100%" class="mentor_rtable">
                {% if mentors %}
                    <thead>
                        {% if current_user.is_admin() %}
                            <th width="11.1%">ID</th>
                            <th width="11.1%">Delete</th>
                            <th width="11.1%">Mentees</th>
                            <th width="11.1%">Email</th>
                            <th width="11.1%">NAME</th>
                            <th width="11.1%">Work Title</th>
                            <th width="11.1%">Availability</th>
                            <th width="11.1%">Skillset</th>
                            <th width="11.1%">Favourite</th>
                        {% else %}
                            <th width="20%">NAME</th>
                            <th width="20%">Work Title</th>
                            <th width="20%">Availability</th>
                            <th width="20%">Skillset</th>
                            <th width="20%">Favourite</th>
                        {% endif %}
                    </thead>
                    <tbody>
                    {% for mentor in mentors %}
                        <tr class="expand-row">
                            {% if current_user.is_admin() %}
                                <td>{{mentor.id}}</td>
                                <td><a href="{{ url_for('del_user', userId=mentor.email_hash) }}">Delete Acct</a></td>
                                {% if mentor.mentees %}
                                    <td>{% for mentee in mentor.mentees %}
                                            {{mentee.company}},
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>NONE</td>
                                {% endif %}
                                <td>{{mentor.email}}</td>
                            {% endif %}
                            <td>{{mentor.first_name}} {{mentor.last_name}}</td>
                            <td>{{mentor.position}} @ {{mentor.company}}</td>
                            <td>{{mentor.avail}}</td>
                            <td>{{mentor.skill}}</td>
                            <td>
                                <!--insert star/heart icon instead of shortlist text that changes to filled if shortlisted-->
                                {% if menteeInfo %}
                                    {% if mentor.mentee == menteeInfo %}
                                        <a href="{{ url_for('del_mentorpref', mentorId=mentor.email_hash) }}">Remove Shortlist</a>
                                    {% else %}
                                        <a href="{{ url_for('acc_mentorpref', mentorId=mentor.email_hash) }}"><img src="../static/heart_icon.png"></a>
                                    {% endif %}
                                {% elif cohortInfo %}
                                    {% if mentor.cohort == cohortInfo %}
                                        <a href="{{ url_for('del_mentorpref', mentorId=mentor.email_hash) }}">Remove Shortlist</a>
                                    {% else %}
                                        <a href="{{ url_for('acc_mentorpref', mentorId=mentor.email_hash) }}"><img src="../static/heart_icon.png"></a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ url_for('acc_mentorpref', mentorId=mentor.email_hash) }}"><img src="../static/heart_icon.png"></a>
                                {% endif %}
                          </td>
                      </tr>
                    <tr style="display: none; background-color: #F4F7F9;" >
                        {% if current_user.is_admin() %}
                        <td colspan="8" style="padding: 14px 20%;">
                            <h2>{{mentor.first_name}} {{mentor.last_name}}</h2><br>
                            {{mentor.about_me}}
                        </td>
                        {% else %}
                        <td colspan="5" style="padding: 14px 20%;">
                            <h2>{{mentor.first_name}} {{mentor.last_name}}</h2><br>
                            {{mentor.about_me}}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
        </div>
    </div>
{% endblock %}