{% extends "dashboard.html" %}
{% block dash_content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- script
    <script type=text/javascript>
        $(function() {
            $(".expand-row").click(function () {
                $(this).next("tr").slideToggle(1000);
            });  
        });
    </script>
    -->
    <div class="body-content-container-white">
        <div class="mentor_intro_content">
            <div class="mentor_intro">
                <h1>Innovators of today</h1>
                <h2 style="margin-left:20%; margin-right: 20%">
                    As modern society advances at an exponential rate, innovation has become an increasingly bigger
                    driving force to its success. At enLIGHT we aim to ensure that innovators get all the help they need
                    in order to make their ideas come to life. As a mentor, you will have the unique opportunity in growing
                    an idea into something that can potentially revolutionize the world. You will be able to meet with
                    them both virtually as well as in person, depending on both parties’ availabilities.

                </h2>
            </div>
        </div>

    <div class="mentor_list_container">
        <table width="100%" class="mentor_rtable">               
            <thead>
                {% if current_user.is_admin() %}
                    <th width="12.5%">MODIFY</th>
                    <th width="12.5%">Delete</th>
                    <th width="12.5%">Mentor</th>
                    <th width="12.5%">Contact</th>
                    <th width="12.5%">Preferences</th>
                    <th width="12.5%">Company</th>
                    <th width="12.5%">Industry</th>
                    <th width="12.5%">Favorite</th>
                {% else %}
                    <th width="40%" colspan="3">Company</th>
                    <th width="40%" colspan="3">Industry</th>
                    <th width="20%">Favorite</th>
                {% endif %}
            </thead>
            <tbody>
                {% if cohorts %}
                    {% for cohort in cohorts %}
                        <tr class="expand-row">
                            {% if current_user.is_admin() %}
                                <td><a class="a-profile" href="{{ url_for('add_mentor', menteeId=cohort.email_hash) }}">CHANGE</a></td>
                                <td><a href="{{ url_for('del_user', userId=cohort.email_hash) }}">Delete Acct</a></td>
                                <td>
                                  {% if cohort.mentor %}
                                    <b>Mentor:</b> {{cohort.mentor.first_name}} {{cohort.mentor.last_name}}
                                  {% endif %}
                                </td>
                                <td>{{cohort.email}}</td>
                                <td>{{cohort.mentor1}}<br> 
                                    {{cohort.mentor2}}<br> 
                                    {{cohort.mentor3}}
                                </td>
                            {% endif %}
                            <td>{{cohort.company}}</td>
                            <td>{{cohort.industry}}</td>
                                {% if mentor %}
                                    {% if cohort.mentorpref == mentor %}
                                        <td><a href="{{ url_for('del_menteepref', menteeId=cohort.email_hash) }}">Remove Shortlist</a></td>
                                    {% else %}
                                        <td><a href="{{ url_for('acc_menteepref', menteeId=cohort.email_hash) }}"><img src="../static/heart_icon.png"></a></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        <tr style="display: none; background-color: #F4F7F9" >
                            {% if current_user.is_admin() %}
                                <td colspan="7">
                                    <h2><p>{{cohort.company}}</p>
                                        <p>Founders: {{cohort.founder}}</p>
                                        <p>Team Skills: {{cohort.skills}}</p>
                                    </h2>
                                    <h3>{{cohort.help_req}}</h3>
                                </td>
                            {% else %}
                                <td></td>
                                <td colspan="3">
                                    <h2><p>{{cohort.company}}</p>
                                        <p>Founders: {{cohort.founder}}</p>
                                        <p>Team Skills: {{cohort.skills}}</p>
                                    </h2>
                                    <h3>{{cohort.help_req}}</h3>
                                </td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if mentees %}
                        {% for mentee in mentees %}
                            <tr class="expand-row">
                                {% if current_user.is_admin() %}
                                    <td><a class="a-profile" href="{{ url_for('add_mentor', menteeId=mentee.email_hash) }}">CHANGE</a></td>
                                    <td><a href="{{ url_for('del_user', userId=mentee.email_hash) }}">Delete Acct</a></td>
                                    <td>
                                      {% if mentee.mentor %}
                                        <b>Mentor:</b> {{mentee.mentor.first_name}} {{mentee.mentor.last_name}}
                                      {% endif %}
                                    </td>
                                    <td>{{mentee.email}}</td>
                                    <td>{{mentee.mentor1}}<br>
                                        {{mentee.mentor2}}<br>
                                        {{mentee.mentor3}}
                                    </td>
                                    <td>{{mentee.company}}</td>
                                    <td>{{mentee.industry}}</td>
                                {% else %}
                                <td colspan="3">{{mentee.company}}</td>
                                <td colspan="3">{{mentee.industry}}</td>
                                {% endif %}
                                {% if mentor %}
                                    {% if mentee.mentorpref == mentor %}
                                        <td><a href="{{ url_for('del_menteepref', menteeId=mentee.email_hash) }}">Remove Shortlist</a></td>
                                    {% else %}
                                        <td><a href="{{ url_for('acc_menteepref', menteeId=mentee.email_hash) }}"><img src="../static/heart_icon.png"></a></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr style="display: none; background-color: #F4F7F9;">
                            {% if current_user.is_admin() %}
                                <td colspan="7" style="padding: 14px 20%;">
                                    <h2><p>{{mentee.company}}</p>
                                        <p>Founders: {{mentee.founder}}</p>
                                    </h2>
                                    {% if mentee.skills %}
                                        {% set skill_list = mentee.skills.split(',')%}
                                        {% for skills in skill_list %}
                                            <div class="skills-bubble">
                                                <label class="text">{{ skills }}</label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <br>{{mentee.help_req}}
                                </td>
                            {% else %}
                                <td colspan="7" style="padding: 14px 20%;">
                                    <h2><p>{{mentee.company}}</p>
                                        <p>Founders: {{mentee.founder}}</p>
                                    </h2>
                                    {% set skill_list = mentee.skills.split(',')%}
                                    {% for skills in skill_list %}
                                        <div class="skills-bubble">
                                            <label class="text">{{ skills }}</label>
                                        </div>
                                    {% endfor %}
                                    <br>{{mentee.help_req}}
                                </td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}