{% extends "dashboard.html" %}
{% block dash_content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $(".expand-card").click(function () {
                $header = $(this);
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(500, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div
                    /*$header.text(function () {
                        //change text based on condition
                        return $content.is(":visible") ? "Collapse" : "Click for Details";
                    });*/
                });

            });  
        });
    </script>


    <div class="mentor_intro_content">
        <div class="mentor_intro">
            <h1>Learn from the best Mentors</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eros magna, iaculis non porta eu, dapibus ut tellus. Sed eget venenatis eros. Nam nec efficitur urna. Praesent aliquam tristique suscipit. Mauris porttitor, arcu vitae tincidunt fringilla, tortor diam facilisis enim, ac volutpat lacus tellus eget metus. Sed elementum sapien est, sed ornare ex dapibus eu. Ut id auctor lacus. Curabitur aliquet molestie purus, ut viverra neque aliquam eget. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse luctus, dui at convallis efficitur, nisl nulla bibendum est, in molestie ligula metus a ligula. Fusce eros ex, varius in nibh eget, accumsan bibendum arcu.</h2>
        </div>
    </div>

    <div class="mentor_list_container">
        <table class="mentor_rtable">
                {% if mentors %}
                <thead>
                    {% if current_user.is_admin() %}
                        <th>ID</th>
                        <th>Mentees</th>
                    {% endif %}
                        <th>NAME</th>
                        <th>Work Title</th>
                        <th>Email</th>
                        <th>Availability</th>
                        <th>Skillset</th>
                        <th>Favourite</th>
                    </thead>
                    <tbody>
                    {% for mentor in mentors %}
                        <tr>
                            {% if current_user.is_admin() %}
                                <td>{{mentor.id}}</td>
                                {% if mentor.mentees %}
                                    <td>{% for mentee in mentor.mentees %}
                                            {{mentee.company}},
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>NONE</td>
                                {% endif %}
                            {% endif %}
                            <td>{{mentor.first_name}} {{mentor.last_name}}</td>
                            <td>{{mentor.position}} @ {{mentor.company}}</td>
                            <td>{{mentor.email}}</td>
                            <td>{{mentor.avail}}</td>
                            <td>{{mentor.skill}}</td>
                            <td><3</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}