{% extends "dashboard.html" %}
{% block dash_content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $(".expand-card").click(function () {
            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                /*$header.text(function () {
                    //change text based on condition
                    return $content.is(":visible") ? "Collapse" : "Click for Details";
                });*/
            });
        });  
    });
</script>
<div class="mentor_intro_content">
    <div class="mentor_intro">
        <h1>Shortlist</h1>
    </div>
</div>

<div class="shortlist_container">
    {% if mentors %}
        {% for mentor in mentors %}
            <div class="shortlist_profile">
                <div class="shortlist_info">
                    <p><b>{{mentor.first_name}} {{mentor.last_name}}</b></p>
                    <p>{{mentor.position}} of {{mentor.company}}</p>
                    <p>Industry: {{mentor.industry}}</p>
                    <p>Skillset: {{mentor.skill}}</p>
                    <p>Availability: {{mentor.avail}}</p>
                    <p><a href="{{ url_for('del_mentorpref', mentorId=mentor.email_hash) }}">Remove Shortlist</a></p>
                    {% if mentor.email_hash in prefMentors %}
                        <td><a href="{{ url_for('del_pref', Id=mentor.email_hash) }}">Remove from Preferred</a></td>
                    {% else %}
                        <td><a href="{{ url_for('save_pref', Id=mentor.email_hash) }}">Make Preferred</a></td>
                    {% endif %}
                </div>
                <div class="shortlist_about">
                    <p>{{mentor.about_me}}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>  
{% endblock %}