{% extends "dashboard.html" %}
{% block dash_content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $(".expand-card").click(function () {
                $header = $(this);
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(500, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div
                    /*$header.text(function () {
                        //change text based on condition
                        return $content.is(":visible") ? "Collapse" : "Click for Details";
                    });*/
                });

            });  
        });
    </script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Mentor List</h1>
        {% if mentors %}
            {% for mentor in mentors %}
                <div class="list-border">
                <!--<a class="a-profile" href="{{ url_for('user', userId=mentor.email_hash) }}">-->
                    <div class="expand-card">
                        {% if current_user.is_admin() %}
                            <b>ID:</b> {{mentor.id}} <br>
                            {% if mentor.mentees %}
                                <b>Mentees: </b>
                                    {% for mentee in mentor.mentees %}
                                        {{mentee.company}}, 
                                    {% endfor %}
                                <br>
                            {% endif %}
                            <b>Name:</b> {{mentor.first_name}} {{mentor.last_name}}<br>
                            <b>Contact:</b> {{mentor.email}}<br>
                            <b>About:</b> {{mentor.about_me}}<br>
                            <b>Availability:</b> {{mentor.avail}}<br>
                            <b>Skills:</b> {{mentor.skill}}<br>
                            <b>Industries:</b> {{mentor.industry}}<br>
                            <b>Current Job:</b> {{mentor.position}} @ {{mentor.company}}<br>
                            <b>LinkedIn:</b> {{mentor.linked}}<br>
                        {% else %}
                            <!--insert star/heart icon instead of shortlist text that changes to filled if shortlisted-->
                            <a href="{{ url_for('acc_mentorpref', mentorId=mentor.email_hash) }}">Shortlist</a>
                            <h3 class="mentor-h3">{{mentor.first_name}} {{mentor.last_name}}</h3>
                            {{mentor.about_me}}<br>
                            {{mentor.position}} @ {{mentor.company}}
                        {% endif %} 
                    </div>
                    <div class="expand-content" style="display: none;">
                        <b>Availability:</b> {{mentor.avail}}<br>
                        <b>Skills:</b> {{mentor.skill}}<br>
                        <b>Industries:</b> {{mentor.industry}}<br>
                        <b>LinkedIn:</b> {{mentor.linked}}<br>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>  
{% endblock %}