{% extends "dashboard.html" %}
{% block dash_content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Mentee List</h1>
    {% if mentees %}
        {% for mentee in mentees %}
            {% if current_user.is_admin() %}
                <div class="list-border">
                    <a href="{{ url_for('add_mentor', menteeId=mentee.id) }}">Assign/Change Mentor</a>
                    <a href="{{ url_for('user', userId=mentee.email_hash) }}">
                        <li><b>Company:</b> {{mentee.company}}</li>
                        <li><b>Mentor Preferences:</b> {{mentee.mentor1}}, {{mentee.mentor2}}, {{mentee.mentor3}}</li>
                        {% if mentee.mentor %}
                            <li><b>Mentor:</b> {{mentee.mentor.first_name}} {{mentee.mentor.last_name}}</li>
                        {% endif %}
                        <li><b>Founders:</b> {{mentee.founder}}</li>
                        <li><b>Contact:</b> {{mentee.email}}</li>
                        <li><b>Industry:</b> {{mentee.industry}}</li>
                        <li><b>Team Skills:</b> {{mentee.skills}}</li>
                        <li><b>Help Needed:</b> {{mentee.help_req}}</li>
                    </a>
                </div>
            {% else %}
                {% if mentee.company %}
                    <div class="list-border">
                        <a class="a-profile" href="{{ url_for('user', userId=mentee.email_hash) }}">
                            <h3 class="mentor-h3"><b>{{mentee.company}}</b></h3>
                            <b>Industry:</b> {{mentee.industry}}<br>
                            <b>Help Needed:</b> {{mentee.help_req}}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}