{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="body-content-container-blue">
        <div class="application-border" style="padding-left: 50px; padding-right: 50px; width: 30%; margin: 0 auto">
            <h1 align="center" class="border-header-font">Reset Password</h1>
            <br>
{#            {{ wtf.quick_form(form)}}#}
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.email(class="form-control text-input-style text-input-center text-input-bottom-spacing",
                placeholder="Enter your recovery email address")}}

                <div style="width: 100%; text-align: center">
                    {{ form.submit(class="btn btn-primary top-margin submit-button submit-button-style") }}
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>

{% endblock %}