{% extends "base.html" %}

{% block app_content %}
    <div class="row background-container user">
        <h1 class="title-text">My Profile</h1>
            <div class="col-md-6 col-md-offset-3 user-border profile-container">
                <div class="profile-left-container">
                    <img src="../static/test.png" class="profile-pic"/>
                    {% if user.is_mentor() %}
                        <a href="{{ info.linked }}" target="_blank">
                            <p class="text link-text linkedin">LinkedIn</p>
                        </a>
                        <a href="{{ info.twitter }}" target="_blank">
                            <p class="text link-text">Twitter</p>
                        </a>
                    {% endif %}
                    {% if user == current_user %}
                        <div class="edit-bottom">
                            <a href="{{ url_for('edit_profile') }}">
                                <p class="text link-text">Edit profile</p>
                            </a>
                        </div>
{#                        <a href="{{ url_for('reset_pw') }}">#}
{#                            <p class="text link-text">Reset password</p>#}
{#                        </a>#}
                    {% endif %}
                </div>
                <div class="profile-right-container">
                    <div class="profile-right-top-container">
                        {% if user.is_mentor() %}
                            <h2 class="text name-text">{{info.first_name}} {{info.last_name}}</h2>
                            <label class="text label-text">Position</label>
                            <p class="text">{{info.position}} at {{info.company}}</p>
                            <label class="text label-text">Industry</label>
                            <p class="text">{{info.industry}}</p>
                            <label class="text label-text">Email</label>
                            <p class="text">{{info.email}}</p>
                            <label class="text label-text">Availability</label>
                            <p class="text">{{info.avail}}</p>
                            <label class="text label-text">Bio</label>
                            <p class="text">{{info.about_me}}</p>
                        {% elif user.is_cohort() %}
                            <h2 class="text name-text">{{info.company}}</h2>
                            <label class="text label-text">Founders</label>
                            <p class="text">{{info.founder}}</p>
                            <label class="text label-text">Industry</label>
                            <p class="text">{{info.industry}}</p>
                            <label class="text label-text">Email</label>
                            <p class="text">{{info.email}}</p>
                            <label class="text label-text">Help Required</label>
                            <p class="text">{{info.help_req}}</p>
                        {% else %}
                            <h2 class="text name-text">{{info.company}}</h2>
                            <label class="text label-text">Founders</label>
                            <p class="text">{{info.founder}}</p>
                            <label class="text label-text">Industry</label>
                            <p class="text">{{info.industry}}</p>
                            <label class="text label-text">Email</label>
                            <p class="text">{{info.email}}</p>
                            <label class="text label-text">Help Required</label>
                            <p class="text">{{info.help_req}}</p>
                        {% endif %}
                    </div>
                    <div class="divider"></div>
                    <div class="profile-right-middle-container">
                        {% if user.is_mentor() %}
                            <h2 class="text name-text">Skillset</h2>
                            <div class="skills-bubble">
                                <label class="text">{{ info.skill }}</label>
                            </div>
                        {% elif user.is_cohort() %}
                            <h2 class="text name-text">Team Skillset</h2>
                            <div class="skills-bubble">
                                <label class="text">{{ info.skills }}</label>
                            </div>
                        {% else %}
                            <h2 class="text name-text">Team Skillset</h2>
                            <div class="skills-bubble">
                                <label class="text">{{ info.skills }}</label>
                            </div>
                        {% endif %}

                    </div>
                    <div class="divider"></div>
                    <div class="profile-right-bottom-container">
                        {% if user.is_mentor() %}
                            <h2 class="text name-text">Matched Mentees</h2>
                            <div class="mentor-container">
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">{{ info.mentee_pref_id }}</h4>
                                </div>
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">{{ info.mentee_pref_id }}</h4>
                                </div>
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">{{ info.mentee_pref_id }}</h4>
                                </div>
                            </div>
                        {% elif user.is_cohort() %}
                            {% if mentor %}
                                <h2 class="text name-text">Matched Mentors</h2>
                                <div class="mentor-container">
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor1 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor2 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor3 }}</h4>
                                    </div>
                                </div>
    {#                            <li><b>Mentor:</b> {{mentor.first_name}} {{mentor.last_name}}</li>#}
                            {% else %}
                                <h2 class="text name-text">Mentor Preferences</h2>
                                <div class="mentor-container">
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor1 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor2 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor3 }}</h4>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if mentor %}
                                <h2 class="text name-text">Matched Mentors</h2>
                                <div class="mentor-container">
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor1 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor2 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor3 }}</h4>
                                    </div>
                                </div>
    {#                            <li><b>Mentor:</b> {{mentor.first_name}} {{mentor.last_name}}</li>#}
                            {% else %}
                                <h2 class="text name-text">Mentor Preferences</h2>
                                <div class="mentor-container">
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor1 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor2 }}</h4>
                                    </div>
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ info.mentor3 }}</h4>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
{#                {% if user == current_user %}#}
{#                    {% if mentees %}#}
{#                        <li><b>Mentees: </b>#}
{#                            {% for mentee in mentees %}#}
{#                                {{mentee.company}},#}
{#                            {% endfor %}#}
{#                        </li>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{#                <br>#}
            </div>
    </div>
{% endblock %}
