{% extends "base.html" %}

{% block app_content %}
    {% if user.is_mentor() %}
        <h2>{{info.first_name}} {{info.last_name}}</h2>
        {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            <p><a href="{{ url_for('reset_pw') }}">Reset your password</a></p>
            {% if mentees %}
                <li><b>Mentees: </b>
                    {% for mentee in mentees %}
                        {{mentee.company}}, 
                    {% endfor %}
                </li>
            {% endif %}
        {% endif %}
        <p>{{info.about_me}}</p>
        <p>{{info.linked}}</p>
        <br>
        <p><b>Current Job: {{info.position}} @ {{info.company}}</b></p>
        <p>Industry: {{info.industry}}</p>
        <p>Skills: {{info.skill}}</p>
        <p>Availability: {{info.avail}}</p>
    {% else %}
        <h2>{{info.company}}</h2>
        {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            <p><a href="{{ url_for('reset_pw') }}">Reset your password</a></p>
            <p><a href="{{ url_for('update_mentor') }}">Update Mentor Preferences</a></p>
            {% if mentor %}
                <li><b>Mentor:</b> {{mentor.first_name}} {{mentor.last_name}}</li>
            {% endif %}
        {% endif %}
        <h3>Founders: {{info.founder}}</h3>
        <p>Help Required: {{info.help_req}}</p>
        <p>Industry: {{info.industry}}</p>
        <p>Team skillset: {{info.skills}}</p>
    {% endif %}

{% endblock %}
