{% extends "base.html" %}

{% block app_content %}
    <div class="background-container">
        <h1 class="title-text">My Profile</h1>
        <div class="user-border profile-container">
            <div class="profile-left-container">
                <img src="{{ profile_pic_filepath }}" class="profile-pic"/>
                {% if user.is_mentor() %}
                    <a href="{{ info.linked }}" target="_blank">
                        <p class="text link-text linkedin">LinkedIn</p>
                    </a>
                    <a href="{{ info.twitter }}" target="_blank">
                        <p class="text link-text">Twitter</p>
                    </a>
                {% endif %}
                {% if user == current_user %}
                    <div class="edit-profile-text">
                        <a href="{{ url_for('edit_profile') }}">
                            <p class="text link-text">Edit profile</p>
                        </a>
                    </div>
{#                            <a href="{{ url_for('reset_pw') }}">#}
{#                                <p class="text link-text">Reset password</p>#}
{#                            </a>#}
                {% endif %}
            </div>
            <div class="profile-right-container">
                <div class="profile-right-top-container">
                    {% if user.is_mentor() %}
                        <h2 class="text name-text">{{info.first_name}} {{info.last_name}}</h2>
                        <label class="text label-text">Position</label>
                        <p class="text">{{info.position}} at {{info.company}}</p>
                        <label class="text label-text">Industry</label>
                        <p class="text">{{info.industry}}</p>
                        <label class="text label-text">Email</label>
                        <p class="text">{{info.email}}</p>
                        <label class="text label-text">Availability</label>
                        <p class="text">{{info.avail}}</p>
                        <label class="text label-text">Bio</label>
                        <p class="text">{{info.about_me}}</p>
                    {% elif user.is_cohort() %}
                        <h2 class="text name-text">{{info.company}}</h2>
                        <label class="text label-text">Founders</label>
                        <p class="text">{{info.founder}}</p>
                        <label class="text label-text">Industry</label>
                        <p class="text">{{info.industry}}</p>
                        <label class="text label-text">Email</label>
                        <p class="text">{{info.email}}</p>
                        <label class="text label-text">Help Required</label>
                        <p class="text">{{info.help_req}}</p>
                    {% else %}
                        <h2 class="text name-text">{{info.company}}</h2>
                        <label class="text label-text">Founders</label>
                        <p class="text">{{info.founder}}</p>
                        <label class="text label-text">Industry</label>
                        <p class="text">{{info.industry}}</p>
                        <label class="text label-text">Email</label>
                        <p class="text">{{info.email}}</p>
                        <label class="text label-text">Help Required</label>
                        <p class="text">{{info.help_req}}</p>
                    {% endif %}
                </div>
                <div class="divider"></div>
                <div class="profile-right-middle-container">
                    {% if user.is_mentor() %}
                        <h2 class="text name-text">Skillset</h2>
                        {% for skill in skill_array %}
                            <div class="skills-bubble">
                            <label class="text">{{ skill }}</label>
                        </div>
                        {% endfor %}
                    {% elif user.is_cohort() %}
                        <h2 class="text name-text">Team Skillset</h2>
                        {% for skill in skill_array %}
                            <div class="skills-bubble">
                                <label class="text">{{ skill }}</label>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="text name-text">Team Skillset</h2>
                        {% for skill in skill_array %}
                            <div class="skills-bubble">
                                <label class="text">{{ skill }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
                <div class="divider"></div>
                <div class="profile-right-bottom-container">
                    {% if user.is_mentor() %}
                        {% if mentees %}
                            <h2 class="text name-text">Matched Mentees</h2>
                            <div class="mentor-container">
                                {% for mentee in mentees %}
                                    <div>
                                        <img src="../static/test.png" class="mentor-profile-pic"/>
                                        <h4 class="text profile-pic-text">{{ mentee.company }}</h4>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if prefs %}
                                <h2 class="text name-text">Mentee Preferences</h2>
                                <div class="mentor-container">
                                    {% for pref in prefs %}
                                        <div>
                                            <img src="../static/test.png" class="mentor-profile-pic"/>
                                            <h4 class="text profile-pic-text">{{ pref.company }}</h4>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% elif user.is_cohort() %}
                        {% if mentor %}
                            <h2 class="text name-text">Matched Mentors</h2>
                            <div class="mentor-container">
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">{{ mentor.first_name }}</h4>
                                </div>
                            </div>
                        {% else %}
                            {% if prefs %}
                                <h2 class="text name-text">Mentor Preferences</h2>
                                <div class="mentor-container">
                                    {% for pref in prefs %}
                                        <div>
                                            <img src="../static/test.png" class="mentor-profile-pic"/>
                                            <h4 class="text profile-pic-text">{{ pref.first_name }}</h4>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if mentor %}
                            <h2 class="text name-text">Matched Mentors</h2>
                            <div class="mentor-container">
                                <div>
                                    <img src="../static/test.png" class="mentor-profile-pic"/>
                                    <h4 class="text profile-pic-text">{{ mentor.first_name }}</h4>
                                </div>
                            </div>
                        {% else %}
                            {% if prefs %}
                                <h2 class="text name-text">Mentor Preferences</h2>
                                <div class="mentor-container">
                                    {% for pref in prefs %}
                                        <div>
                                            <img src="../static/test.png" class="mentor-profile-pic"/>
                                            <h4 class="text profile-pic-text">{{ pref.first_name }}</h4>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <!--{% if user == current_user %}
                {% if mentees %}
                    <li><b>Mentees: </b>
                        {% for mentee in mentees %}
                            {{mentee.company}},
                        {% endfor %}
                    </li>
                {% endif %}
            {% endif %}-->
            <br>
        </div>
    </div>
{% endblock %}
